name: mockito
version: 5.6.3
description: >-
  A mock framework inspired by Mockito with APIs for Fakes, Mocks,
  behavior verification, and stubbing.
repository: https://github.com/dart-lang/mockito

topics:
 - testing
 - mocking

environment:
  sdk: ^3.7.0

dependencies:
  analyzer: '>=8.1.1 <11.0.0'
  build: '>=3.0.0 <5.0.0'
  code_builder: ^4.5.0
  collection: ^1.19.0
  dart_style: '>=2.3.7 <4.0.0'
  matcher: ^0.12.16
  meta: ^1.15.0
  path: ^1.9.0
  source_gen: '>=3.0.0 <5.0.0'
  test_api: '>=0.6.1 <0.8.0'

dev_dependencies:
  build_runner: ^2.5.0
  build_test: ^3.3.0
  build_web_compilers: ^4.2.0
  http: ^1.0.0
  lints: ^5.1.0
  logging: ^1.0.0
  package_config: ^2.1.1
  test: ^1.24.4
