name: mockito
version: 5.4.3
description: >-
  A mock framework inspired by Mockito with APIs for Fakes, Mocks,
  behavior verification, and stubbing.
repository: https://github.com/dart-lang/mockito

environment:
  sdk: ^3.1.0

dependencies:
  analyzer: '>=5.12.0 <7.0.0'
  build: ^2.0.0
  code_builder: ^4.5.0
  collection: ^1.15.0
  dart_style: ^2.0.0
  matcher: ^0.12.15
  meta: ^1.3.0
  path: ^1.8.0
  source_gen: ^1.0.0
  test_api: '>=0.2.1 <0.7.0'

dev_dependencies:
  build_runner: ^2.0.0
  build_test: ^2.0.0
  build_web_compilers: '>=3.0.0 <5.0.0'
  http: ^1.0.0
  lints: ^3.0.0
  package_config: ^2.0.0
  test: ^1.16.0
