name: mockito
version: 5.3.2
description: >-
  A mock framework inspired by Mockito with APIs for Fakes, Mocks,
  behavior verification, and stubbing.
repository: https://github.com/dart-lang/mockito

environment:
  sdk: '>=2.17.0-0 <3.0.0'

dependencies:
  analyzer: '>=4.7.0 <6.0.0'
  build: '>=1.3.0 <3.0.0'
  code_builder: ^4.3.0
  collection: ^1.15.0
  dart_style: '>=1.3.6 <3.0.0'
  matcher: ^0.12.10
  meta: ^1.3.0
  path: ^1.8.0
  source_gen: '>=0.9.6 <2.0.0'
  test_api: '>=0.2.1 <0.5.0'

dev_dependencies:
  build_runner: ^2.0.0
  build_test: ^2.0.0
  build_web_compilers: ^3.0.0
  http: ^0.13.0
  package_config: '>=1.9.3 <3.0.0'
  pedantic: ^1.10.0
  test: ^1.16.0
